@import "tailwindcss";
@font-face {
    font-family:"emporia" ;
    src: url("/font/emporia-roman.otf");
}
@layer base {
    body{
        font-family: "emporia";
        background-color: #1b1b1b;
        color: white;
    }
    ::-webkit-scrollbar{
        width: 0;
    }
}

@layer components{
    .wrapper{
        overflow-y: scroll;
        scroll-snap-type:y mandatory;
        max-height: 100vh;
    }
    .shape{
        background: linear-gradient(
            rgba(238,0,0,1)0%,
            rgba(238,163,0,1)75%,
            rgba(252,252,252,1)100%
            );
         border-radius: 25rem 25rem 0 0;
        }
        .shapeCricle{
            background: linear-gradient(
                rgba(238,0,0,1)0%,
                rgba(238,163,0,1)75%,
                rgba(252,252,252,1)100%
                );
                width: 10rem; 
                height: 10rem; 
                border-radius: 50%; 
        }
        .glass-btn{
            background: linear-gradient(
                rgba(255,255,255,0.1),
                rgba(255,255,255,0),
               );
           box-shadow: 0 4px 30px rgba(0,0,0,0.1);
           backdrop-filter: blur(14px);
        }
}
